<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>The World! - @ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/Site.css" />
</head>
<body>
    <div id="sidebar">
        <img src="~/img/user1.jpg" alt="Some image" class="headshot" />
        <span id="nameuser">Some text</span>
        <ul class="menu">
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="About">About</a></li>
            <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
        </ul>
    </div>
    <div id="wrapper">
        <button id="togleSidebar">Toggle Sidebar</button>
        <div id="main">
            <div>
                @RenderBody()
            </div>
        </div>
        <div id="footer">
            &copy; The Andrii Ltd.
        </div>
    </div>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/Site.js"></script>

    @RenderSection("Scripts", false)
</body>
</html>
