@model IEnumerable<theworld50.Models.Trip>
@{
    ViewBag.Title = "Hello!";
}
<div class="row">
    <div class="col-md-12">
        <h1> The World</h1>
        <p>Some text. It's gonna be fun!</p>
        <a asp-controller="App" asp-action="Trips" class="btn btn-lg btn-success">View my Trips</a>
    </div>
</div>
