@{
    ViewBag.Title = "Hello!";
}

<h1> Header1</h1>
<h2> Header2</h2>
<p>Some text</p>

<form>
    <div>
        <label>Date</label>
        <input />
    </div>
    <div>
        <label>Location</label>
        <input />
    </div>
    <div>
        <input type="submit" value="Add" />
    </div>
</form>
