<section >
    <div class="search">
        <h1>Artist Directory</h1>
        <label>search:</label>
        <input ng-model="query" autofocus placeholder="Search for artists" />

        <label class="formgroup">
            by:<select ng-model="vm.artistOrder">
                <option value="name">Name</option>
                <option value="reknown">Reknown</option>
            </select>
        </label>
        <label class="formgroup">
            ascending<input type="radio" ng-model="direction" name="direction" checked />
        </label>
        <label class="formgroup">
            descending<input type="radio" ng-model="direction" name="direction" value="reversed" />
        </label>
    </div>
    <ul class="artistlist">
        <li class="artist cf" ng-repeat="item in vm.artists | filter:query | orderBy: vm.artistOrder:direction">
            <a href="#/details/{{vm.artists.indexOf(item)}}">
                <img src="/img/tn/{{item.shortname}}_tn.jpg" />
                <div class="info">
                    <h2>{{item.name | uppercase}}</h2>
                    <h3>{{item.reknown}}</h3>
                </div>
            </a>
        </li>
    </ul>
</section>